{% extends 'main.html' %}
<html>
    <head>
        {% block title %}<title>Edit</title>{% endblock title %}
    </head>
    <body>
        {% block content %}
        <div class="container">
        <h1 class="text-center mt-5">Edit Blog</h1>
        <hr>
    <form action="/edit_blog/{{result.blog_id}}" method="POST" class="mt-5  shadow-lg p-3 mb-5 mt-5 bg-body rounded">
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name='title' value="{{result.title}}">
        </div>

         <div class="form-group">
            <label for="exampleFormControlInput1">Author</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Author" name='author' value="{{result.author}}">
        </div>
  
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content">{{result.content}}</textarea>
        </div>

        <input type="submit" value="Edit" class="btn btn-primary btn-lg mt-3">
  
    </form>
</div>

        {% endblock content %}        
    </body>
</html>